<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">
  <title>Testovoe zadanie</title>
</head>

<body>
 
<header class="header">
  <div class="header-wrapper">
    <div class="header-top-row">
      <div class="logo"><img src="assets/img/logo.png" alt="logo" class="logo-img"></div>
      <button class="button-order">Закажите ваш билет</button>
    </div>
    <div class="header-main">
      <h1 class="header-h1">До луны и обратно</h1>
      <p class="header-text">Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить значение модели развития.</p>
      <div class="header-buttons-block">
        <button class="about-us">Подробнее о нас</button>
        <div class="play-button">
          <img src="assets/img/play-button.png" alt="play-button" class="play-button-img">
        </div>
      </div>
    </div>
  </div>
  <div class="moon-bg">
    <img class="moon" src="assets/img/moon-stroke.png" alt="moon-stroke">
    <img class="stroke" src="assets/img/moon.png" alt="moon-bg">
  </div>
</header>
  
<main class="main">

</main>

<footer>
  
</footer>

</body>

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/slick-carousel/slick.js"></script>
<script src="assets/js/main.js"></script>


</html>
