.header {
    background-image: url('../img/main-bg.png');
    background-size: cover;
    height: 680px;
    position: relative;
}

.header-top-row {
    .row-flex();
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.logo {
}

.button-order {
    background-color: @white;
    .row-flex();
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: @main-purple;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: @hover;
        color: @second-purple;
    }
}

.header-h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
    margin-top: 120px;
    margin-bottom: 48px;
}

.header-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-bottom: 48px;
    width: 55%;
}

.about-us {
    background-color: @white;
    .row-flex();
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 156px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: @main-purple;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: @hover;
        color: @second-purple;
    }
}

.header-buttons-block {
    .row-flex();
}

.play-button {
    display: inline-block;
    cursor: pointer;
    margin-left: 16px;
}

.play-button-svg {
    fill: @white;
    @s: 20px;
    width: @s;
    height: @s;
}

.moon-bg {
    position: absolute;
    top: 0;
}

.moon {
    @s: 576px;
    width: @s;
    height: @s;
    position: absolute;
    user-select: none;
    bottom: -150px;
    right: 0;
}

.stroke {
    @s: 550px;
    width: @s;
    height: @s;
    position: absolute;
    user-select: none;
    bottom: -150px;
    right: 40px;
}