.main {
}

.main-h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 76px;
}

.main-tabs {
    .row-flex();
    margin-bottom: 44px;
}

.hot-offers {
    margin-right: 48px;
}

.hot-offers,
.all-offers {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}

.offer-tittle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: @main-purple;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 8px;
}

.offer-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.offer-card {
    width: 260px;
    margin-right: 64px;
}

.slick-dots li button:before{
    font-size: 30px;
    margin-top: 40px;
}

.slick-dots li.slick-active button:before {
    color: @second-purple !important;
}
