.icon-next-arrow::before {
-webkit-mask: url(../img/sprite.svg#next-arrow) no-repeat;
mask: url(../img/sprite.svg#next-arrow) no-repeat;
}
.icon-prev-arrow::before {
-webkit-mask: url(../img/sprite.svg#prev-arrow) no-repeat;
mask: url(../img/sprite.svg#prev-arrow) no-repeat;
}
